@include prefix-bb-module-content {
	// Set Default Styles	
	a.fl-button {
		border-radius: 0;
		background: transparent;
		border: 2px solid $primary-color;

		.fl-button-text {
			color: $primary-color;
		}

		&:hover, &:focus {
			background: $primary-color;

			.fl-button-text {
				color: $white;
			}
		}
	}
}